<h3> Thanks for submitting an order for services, <%= current_user.name %>! </h3>

<p>  Your order has been submitted. </p>

<p>  You may access the services that you've booked at any time by logging into this site, and clicking the <%= link_to "Booked Services I'm Getting", recipient_history_path %> link in the dropdown menu.</p>